* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



nav {
    height: 10vh;
    background: #5b78c7;
    font-size: 22px;
    position:relative;
    display: flex;
}

.page-title {
    display: flex;
    color: white;
    align-items: center;
    margin-left: 3%;
    width: 30%;
}

.page-title-header {
    font-size: 20px;
    font-weight: 200;
}

.nav-links {
    display: flex;
    background: #73C2DC;
    width: 70%;
    height: 100%;
    margin-left: auto;
    align-items: center;
    justify-content: space-around;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-links li {
    list-style: none;

}



.landing {
    display: flex;
    flex-direction :column;
    height: 90vh;
}

.landing h1 {
    text-align: center;
    font-size: 3em;
    margin: 20px;
}

.circle {
    height: 60%;
    margin-top: 40px;
}

.about-links {
    display: none;
}

.about-links li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.about-links li {
    list-style: none;

}

.about-page-links {
    display: flex;
    width: 100%;
    height: 10%;
}
ul.about-page-links {
    align-items: center;
    text-align: center;
    
}

.about-page-links li {
    font-size: 18px;
    list-style: none;
    justify-content:stretch;
    width: 100%;
    
}

.about-page-links li button {
    padding: 12px;
    width: 120px;
    height: 60px;
}

.about-page-links li a {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    section h1 {
        padding-bottom: 60px;
    }
    .page-title {
        width: 48%;
    }
    .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background: cornflowerblue;
        clip-path: circle(100px at 100% -32%);
        -webkit-clip-path: circle(100px at 100% -32%);
        transition: all ease-out 0.6s;
        pointer-events: none;
    }

    .nav-links.open {
        clip-path: circle(900px at 50% 10%);
        -webkit-clip-path: circle(900px at 50% 10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links li a{
        font-size: 36px;;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.4s ease 0.1s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.4s ease 0.2s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.4s ease 0.3s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.4s ease 0.4s;
    }
    .nav-links li.fade {
        opacity: 1;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 2px;
        top: 50%;
        transform: translate(-2px, -50%);
        padding: 20px 15px;
        z-index:10;
    }

    .line {
        height: 3px;
        width: 30px;
        margin: 6px;
        background-color: white;
    }

    .about-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background: mediumseagreen;
        clip-path: circle(0px at 0% -32%);
        -webkit-clip-path: circle(0px at 0% -32%);
        transition: all ease-out 1.0s;
        pointer-events: none;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .about-links.open {
        clip-path: circle(850px at 50% 10%);
        -webkit-clip-path: circle(850px at 50% 10%);
        pointer-events: all;
    }

    .about-links li a{
        font-size: 30px;
        margin-top: 80px;
        margin-bottom: 80px;
    }


    nav {
        height: 14vh;
    }

    .landing {
        height: 86vh;
    }

   



}